@font-face {
    font-family: "HuangYou";
    src: url("../fonts/QingKe_HuangYou/ZCOOLQingKeHuangYou-Regular.ttf") format("truetype")
}

main {
    display: flex;
}

.views-row span {
    color: white;

}

a {
    text-decoration: none;
    color: black;
}

a.site-logo img {
    width: 30em;
    padding: 1em;
}

.layout-content {
    width: 90%;
    margin: 1em auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
.views-row span {
    color: black;
}


#block-agenda-branding {
    display: flex;
    flex-flow: row-reverse wrap;
    align-items: center;
    justify-content: center;
}

.site-name a {
    font-size: 3em;
    color: #EE0331;
}

#block-agenda-search {
    width: 50%;
    margin: 1em auto;
    text-align: center;
}

.form-search {
    border: 1px solid gainsboro;
    border-radius: 25px;
}

#edit-submit {
    background-color: white;
    border: 1px solid gainsboro;
}


.layout-sidebar-first {
    order: 1;
}

.layout-content {
    order: 2;
    width: 75%;
}

.layout-sidebar-second {
    order: 3;
}

.layout-sidebar-first,
.layout-sidebar-second {
    flex: 20%;
}


#block-agenda-main-menu .menu {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    width: 50%;
    margin: 3em auto 5em auto;

}

#block-agenda-main-menu .menu a {
    padding: 1em;
}

#block-agenda-main-menu .menu a.is-active {
    background-color: gainsboro;
    color: white;
}


.layout-sidebar-first > div > div , .layout-sidebar-first > div > nav {
    border: 1px solid #F68B9A;
    border-left: 2em solid #F68B9A;
    box-shadow: 2px 2px 2px grey;
    margin: 1em;
    padding: 1em;
}

.view-agenda-des-concerts {
    width: 100%;
    margin: 2em auto;
}

.field-content {
    display: flex;
    flex-flow: row wrap;
}

span.field-content {
    height: 0;
}

.field-content img {
    width: 90%;
    height: 90%;
    opacity: .9;
}


span.field-content > a {
    position: relative;
    top: -22vw;
    padding: 2em;
    color: #FCD750;
    font-weight: bolder;
    font-size: 3vw;
    background-color: rgba(237, 24, 54, .3);
}


/**
CONCERTS VUE
 */

.concertsVue > .view-content > div > div > span > a {
    top: 0;
    background-color: rgba(237,24,54,0.5);
    box-shadow: 5px 5px 2px #FBD944;
    margin-bottom: .5em;

}

.concertsVue > .view-content > div > div > span {
    height: auto;

}

.datetime {
    font-family: 'HuangYou', Sans-Serif;
    font-size: 2em;
    padding: .3em;
    background-color: #FBD944;
}